Django>=4.2.0,<6.0.0
gunicorn
psycopg2-binary
dj-database-url
whitenoise
django-storages[google]
google-cloud-storage
pandas==2.2.1
numpy==1.26.4
openpyxl
python-docx
lxml==5.1.0
et_xmlfile
pillow
python-dotenv
requests
