Django==4.2.10
psycopg2-binary==2.9.10
dj-database-url==2.3.0
python-dotenv==1.1.1
gunicorn==23.0.0
Pillow==12.1.1
requests==2.32.5
django-cors-headers==4.3.1
whitenoise==6.9.0
num2words==0.5.14
openpyxl==3.1.5
python-docx==1.2.0
pandas==2.3.2
lxml==6.0.2
django-storages[google]==1.14.2
google-cloud-storage==2.10.0
